@{
    ViewData["Title"] = "Employees";
    @model CompaniesManagementMVC.ViewModels.Employees
}

<h2>@ViewData["Title"]</h2>

@Html.ActionLink( "Add Employee", "AddEmployee", "Home", new { companyId = Model.CompanyId }, null)

<div class="container">

    @for(var i = 0; i < Model.Items.Count; i++)
    {
    <div class="esh-catalog-items row">
        @Html.ActionLink( "Edit", "EditEmployee", "Home", new { Model.Items[i].Id }, null)
        @Html.ActionLink( "Delete", "DeleteEmployee", "Home", new { id = Model.Items[i].Id, companyId = Model.Items[i].CompanyId }, null)
        <div class="esh-catalog-item col-md-4">
            @Model.Items[i].Name
        </div>
    </div>
    }

</div>
